.navbarContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.1);
  align-items: center;
}

.navbarContent {
  display: flex;
  width: 100%;
  flex-direction: row;
  padding: 0.9rem 1.2rem;
  justify-content: space-between;
  gap: 1rem;
}

.iconButton {
  background-color: transparent;
  border: none;
  color: #f75590;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  cursor: pointer;
}

.iconButton:hover {
  color: rgba(247, 85, 144, 0.8);
  transform: scale(1.01);
}
