.primButton {
  display: flex;
  align-items: center;
  height: 2.5rem;
  justify-content: center;
  color: #fff;
  border: none;
  border-radius: 25rem;
  cursor: pointer;
  transition:
    background-color 0.3s,
    transform 0.3s;
}

.primButton:hover {
  transform: scale(1.01);
}

.primButton:disabled {
  cursor: not-allowed;
}
