.AddEventForm {
  position: absolute;
  
}

@media screen and (max-width: 600px) {
  .AddEventForm {
    display: none; 
  }
}

.eventButtonContainer {
  display: flex;
  margin-top: 0.5rem;
}

.iconButton {
  height: 1.2rem;
  width: 1.2rem;
  margin-right: 0.7rem; 
  color: rgb(159, 157, 157);

}
