.AddEventForm {
  position: absolute;
}

@media screen and (max-width: 600px) {
  .AddEventForm {
    display: none;
  }
}

.eventButtonContainer {
  display: flex;
  margin-top: 0.5rem;
}

.iconButton {
  height: 1.2rem;
  width: 1.2rem;
  margin-right: 0.7rem;
  color: rgb(159, 157, 157);
}

.vacationForm {
  position: absolute;
  max-height: 35rem;
  overflow-y: auto; /* More than three vacations adds scroll in form*/
}

.vacationItem {
  display: flex;
  align-items: center;
  padding: 2rem;
  border: 0.01rem solid #ddd;
  border-radius: 0.5rem;
  position: relative; /* Positioning for trash icon */
}

.trashIcon {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
  color: #ff0000;
  height: 1.2rem;
  width: 1.2rem;
}

.submitButton {
  display: flex;
  justify-content: center;
}

.formInput {
  display: flex;
  flex-direction: column;
}
.formInput label {
  display: block;
  margin-bottom: 0.2rem;
  font-size: 0.8rem;
  font-weight: bold;
}

.formInput input {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 1.2rem;
  width: fit-content;
}
.formInput textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
}
.formDate {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.formDate label {
  margin-bottom: 0.2rem;
  font-size: 0.8rem;
  font-weight: bold;
}

.formDate input {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 1rem;
}
