.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: #eefcf3;
}

.typewriter {
  color: #f75590;
  margin-top: 10%;
  border-right: 0.15em solid #0f574e;
  font-size: 4.2vw;
  padding-bottom: 0.1em; /* To fit the text */
  padding-right: 0.2em;
  animation: blink-caret 0.75s step-end infinite;
  font-family: "Playwrite CO", cursive;
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #0f574e;
  }
}
