.calendarContainer {
  width: 96%;
  margin: auto;
  padding-top: 5%;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  overflow: hidden;

}

.datepickerContainer {
  display: flex;
  align-items: center;
  background: white;
  justify-content: center;
  
}

.changeMonth {
  margin: 0px 20px;
}

.currentMonth {
  font-size: 24px;
}

.weekContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background: white;
  place-items: center;
  
}


.date {
  height: 10.84vw; 
  width: 10.84vw;
  cursor: pointer;
  display: flex;
  align-items:flex-start;
  justify-content: space-around;
  font-size: 0.7rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 0.2rem;
  
}
.date .number {
  background: none;
}

.weekDay {
  cursor: default;
  padding: 0.2rem; 
  margin: 0;
}

.inactiveDay {
  color: #9e9e9e;
}
.today .number {
  background: #1a73e8;
  border: 1px solid #9ec1f6;
  border-radius: 50%;
  width: 1.3rem;
  height:1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.selectedDay .number {
  color: white;
  background: #8ab4fa;
  border: 1px solid #e0ebfd;
  color: #185abc;
  border-radius: 50%;
  width: 1.3rem;
  height:1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
 
}
