.calendarContainer {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.allWeeksContainer {
  border: 0.5px solid #e3e3e3;
  border-radius: 5px;
  padding: 0.5rem;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.1);
}
.calendarHeader {
  height: 5rem;
  justify-content: center;
  display: flex;
}

.headerContent {
  display: flex;
  align-items: center;
  width: 100%;
}

.emptyContainer {
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
  flex-basis: 0;
}

.datepickerContainer {
  display: flex;
  align-items: center;
  background: white;
  justify-content: center;
  flex-grow: 1;
  flex-basis: 0;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-basis: 0;
}

.changeMonth {
  margin: 0px 20px;
}

.currentMonth {
  font-size: 24px;
}

.weekContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  place-items: center;
  padding-top: 0.6%;
}

.date {
  height: 10.6vw;
  width: 10.6vw;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  font-size: 0.7rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 0.2rem;
  position: relative;
  overflow-y: auto; /* scroll for dates that have many events */
}
.date .number {
  background: none;
}

.weekDay {
  cursor: default;
  padding: 0.2rem;
  margin: 0;
}

.inactiveDay {
  color: #9e9e9e;
}
.today .number {
  background: #1a73e8;
  border: 1px solid #9ec1f6;
  border-radius: 50%;
  width: 1.3rem;
  height: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.selectedDay .number {
  color: white;
  background: #8ab4fa;
  border: 1px solid #e0ebfd;
  color: #185abc;
  border-radius: 50%;
  width: 1.3rem;
  height: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eventContainer {
  background-color: #f75590;
  height: fit-content;
  width: 10.6vw;
  display: flex;
  position: absolute;
  margin-top: 1.7rem;
}

.eventContent {
  font-size: 11px;
  font-weight: bold;
  color: white;
  padding-left: 0.5rem;
  display: flex;
  align-items: center;
}

.eventContent > div {
  margin-right: 0.2rem;
}

.vacationDay {
  background-color: #dcf9e6;
}
