.pageContent {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.pageContentWrapper {
  display: flex;
  flex-wrap: wrap;
}

.calendarDashboard {
  flex:1;

  background-color: pink;
}

