.registerContainer {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
  margin-top: 0.4rem;
}

.loginOptionText {
  display: flex;
  justify-content: center;
  margin: 0 10%;
}

.dividerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.4rem;
}

.divider {
  display: flex;
  align-items: center;
  width: 100%;
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: #e3e3e3;
}

.authHeadline {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  font-size: 1.4rem;
}
.formInputContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.formInput label {
  display: block;
  margin-bottom: 0.2rem;
  font-size: 1rem;
}

.formInput input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 2rem;
  padding-left: 0.5rem;
}

.signInButton {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
